body {
    background-color: #000000;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    background-color: #202020;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.user-details {
    margin-left: 15px;
}

#username {
    font-size: 24px;
    margin: 0;
}

#user-points {
    font-size: 18px;
    color: #aaa;
    margin: 0;
}

.mining-section {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.claim-button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
    position: fixed;
    bottom: 20px;
}

.claim-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.cooldown-info {
    margin-top: 20px;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    position: fixed;
    bottom: 70px;
}
