/* Genel yapı ve temel stiller */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, black, white); /* Siyah-beyaz ombre */
    color: white; /* Tüm yazıların beyaz olması */
}

/* Oyun alanı */
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Zaman ve skor */
#timer, #score {
    font-size: 24px;
    font-weight: bold;
}

/* Başla düğmesi */
#start-button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
}
